.container {
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin: 2rem 0;
}

.selector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 373px;
  width: 90%;
  height: 3.5em;
  background-color: #161932;
  border-radius: 3em;
  z-index: 1;
}

.selector-item {
  font-size: 12px;
  font-weight: bold;
  color: #eff1fa;
  width: 30%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selected {
  background-color: #f87070;
  width: full;
  height: full;
  border-radius: 2em;
  color: #161932;
}

.first-circle {
  width: 16em;
  height: 16em;
  background: linear-gradient(320deg, #2e325a, #0e112a);
  border-radius: 50%;
  box-shadow: -10px -20px 20px #2e325a, 3px -20px 20px #0e112a;
  margin: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-circle {
  width: 14em;
  height: 14em;
  background: #161932;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loading-circle {
  height: 100%;
  width: 100%;
  fill: none;
  stroke-width: 0.2em;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  animation: anim 2s linear forwards;
}

.svg {
  position: absolute;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
}

.timer-container {
  z-index: 2;
}

.timer {
  font-size: 3.5em;
  font-weight: bold;
}

.controller {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.5em;
  text-align: center;
  margin-top: 0.5em;
}

.settings-icon {
  cursor: pointer;
  margin: 2em 0;
}

.settings-bg {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.342);
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #161932;
}

.settings-container {
  background-color: white;
  width: 90%;
  height: 85%;
  border-radius: 10px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    font-family: 'Kumbh Sans', sans-serif;
    border: none;
    background-color: #f87070;
    color: white;
    font-size: 16px;
    font-weight: bold;
    right: 30%;
    bottom: -50px;
    padding: 1em 0;
    width: 10em;
    border-radius: 5em;
    margin-bottom: 2em;
    cursor: pointer;
    transition: 0.25s all;
  }
  button:hover {
    background-color: #ff8c8c;
  }
}

.settings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #979797;
  padding: 1.5em 1em;
  width: 100%;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  img {
    cursor: pointer;
  }
}

.settings-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1.5em;
  h3 {
    text-align: center;
    margin-bottom: 1.5em;
  }
}

.duration {
  font-size: 11px;
  letter-spacing: 4px;
  margin-top: 2em;
  padding-bottom: 1em;
  width: 100%;
  border-bottom: 1px solid #979797;
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    p {
      color: #979797;
      letter-spacing: 0em;
      font-weight: bold;
      font-size: 12px;
    }
    .input-item {
      position: relative;
      input {
        border: none;
        outline: none;
        background-color: #eff1fa;
        padding: 1em;
        width: 11em;
        border-radius: 10px;
        color: #161932;
        font-weight: bold;
        font-size: 14px;
        -webkit-appearance: none;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type='number'] {
        -moz-appearance: textfield;
      }
      .btn-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 1em;
        top: 0em;
        height: 4em;
        justify-content: space-evenly;
        img {
          cursor: pointer;
        }
      }
    }
  }
}

.font {
  border-bottom: 1px solid #979797;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
  .font-option-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  .font-option {
    border-radius: 50%;
    background-color: #eff1fa;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #1e213f;
    cursor: pointer;
  }
  .sans {
    font-family: 'Kumbh Sans', sans-serif;
  }
  .serif {
    font-family: 'Roboto Slab', serif;
    margin: 0 1em;
  }
  .mono {
    font-family: 'Space Mono', monospace;
  }
  .selected {
    background-color: #1e213f;
    color: #eff1fa;
  }
}

.color {
  width: 100%;
  padding-bottom: 2em;
  padding-top: 1.5em;
  .color-option-container {
    display: flex;
    justify-content: center;
  }
  .color-option {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      z-index: 5;
    }
  }
  .red {
    background-color: #f87070;
  }
  .blue {
    background-color: #70f3f8;
    margin: 0 1em;
  }
  .purple {
    background-color: #d881f8;
  }
}
